<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761115549253-rk2p3danp7kv7aon3hgltr2atg50tr13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761115549253-rk2p3danp7kv7aon3hgltr2atg50tr13</string>
	<key>API_KEY</key>
	<string>AIzaSyCtbTYMAOSGZ65Gd4EcquYV41n7V38RRIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>761115549253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monofin-mvp</string>
	<key>PROJECT_ID</key>
	<string>monofin-ff87c</string>
	<key>STORAGE_BUCKET</key>
	<string>monofin-ff87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761115549253:ios:f2b0b31e1b8e43e7460d2c</string>
	<key>DATABASE_URL</key>
	<string>https://monofin-ff87c.firebaseio.com</string>
</dict>
</plist>
